<?xml version="1.0"?>
<!--
/**
 * Copyright © 2021 Magegadgets. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="currency_display_options_forming">
        <observer name="magegadgets_currency_symbol_position" instance="Magegadgets\CurrencySymbolPosition\Observer\DisplayOptions" />
    </event>
</config>
