<?xml version="1.0"?>
<!--
/**
 * Copyright © 2021 Magegadgets. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magegadgets_CurrencySymbolPosition::symbols_position" title="Currency Symbols Position" translate="title" module="Magegadgets_CurrencySymbolPosition" sortOrder="30" parent="Magento_CurrencySymbol::system_currency" action="adminhtml/system_currencysymbolposition" resource="Magegadgets_CurrencySymbolPosition::symbols_position"/>
    </menu>
</config>
